---
title: Home
---

{% extends "main.jinja2" %}

{% block content %}

<h1>Murray, KY / CORVID-19 Resources</h1>

<ul>
{% for link in context.data.links %}
  <li>
    <a href="{{ link.url }}">{{ link.title }}</a>
    <span class="category">{{ link.category|title }}</span>
  </li>
{% endfor %}
</ul>

{% endblock %}
