---
title: Educational Resources
description: These are great, free resources for kids to learn at home.
---
{% extends "main.jinja2" %}

{% block content %}
<h2>{{ doc.info.title }}</h2>
<p class="subtitle">Last updated: {{ doc.info.last_modified }}</p>
<p>
  {{ doc.info.description }}
</p>

<div class="emoji-links">
  <ul>
    <li>
      🎨 <a href="https://www.youtube.com/channel/UCGkjsCubyzi2GzT5w_k8syg?fbclid=IwAR2XKsdXnXocmYX_8dAvKhoZPxGk3XlkS55jiNjiSBv6-IOSZ7_Gj5Sfz6Y">Art Class with Ann Flowers Gosser</a> -
      Ann hosts a live art class at 3:00 pm CST
    </li>
    
    <li>
      😸 <a href="https://www.instagram.com/petethecatofficial/?hl=en">Pete the Cat Live Storytime</a> - 
      Live storytime at 11:00 am CST
    </li>
    
    <li>
      🐷 <a href="https://ohiopork.org/vft/">Live Tour of Pork Farm</a> - 
      Ohio Pork is having a virtual field trip Thursday, March 19th at 12:00 pm CST
    </li>
    
    <li>
      📖 <a href="https://www.storylineonline.net/">Storyline Online</a> - 
      SAG members read story books for kids
    </li>
  
    <li>
      🤔 <a href="https://www.khanacademy.org/">Khan Academy</a>
      - Learn literally anything you want to learn
    </li>
    <li>
      🧘 <a href="https://www.youtube.com/user/CosmicKidsYoga">Cosmic Kids Yoga</a> -
      Get moving so we don't have rapid muscle atrophy
    </li>

    <li>
      💡 <a href="https://classroommagazines.scholastic.com/support/learnathome.html">Scholastic Learn at Home</a>
    </li>

    <li>
      😝 <a href="https://www.funbrain.com/">Funbrain</a> 
    </li>

    <li>
      🧮 <a href="https://www.mathplayground.com/">Math Playground</a>
    </li>

    <li>
      🌊 <a href="https://www.splashlearn.com/">Splash Learn</a>
    </li>

    <li>
      ➗ <a href="http://www.mathgametime.com/">Math Game Time</a>
    </li>

    <li>
      🤯 <a href="https://www.discoverymindblown.com/">Discovery Mindblown</a>
    </li>

    <li>
      🚀 <a href="https://www.nasa.gov/kidsclub/index.html">NASA Kids Club</a>
    </li>

    <li>
      🌌 <a href="https://amazing-space.stsci.edu/">Amazing Space</a>
    </li>

    <li>
      🧠 <a href="https://www.brainpop.com/">Brain Pop </a>
    </li>

    <li>
      🔍 <a href="https://www.youtube.com/user/crashcourse">Crash Course</a>
    </li>

    <li>
      🟧 <a href="https://kids.nationalgeographic.com/">Nat Geo Kids</a>
    </li>

    <li>
      🧠👶 <a href="https://jr.brainpop.com/">Brain Pop, Jr.</a>
    </li>

    <li>
      🦉 <a href="https://www.duolingo.com/">Duolingo</a> - 
      Learn a different language
    </li>

    <li>
      👋 <a href="http://www.hellokids.com/">Hello Kids</a>
    </li>
  </ul>
</div>
{% endblock %}
