{% extends "main.jinja2" %}

{% block content %}
<h2>Education Resources</h2>
<p class="subtitle">Last updated: {{ doc.info.last_modified }}</p>
<p>
  Description here!
</p>

<div class="links">
  <ul>
    <li>
      <a href="https://www.storylineonline.net/">Storyline Online</a>
    </li>
  
    <li>
      <a href="https://www.khanacademy.org/">Khan Academy</a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/CosmicKidsYoga">Cosmic Kids Yoga</a>
    </li>

    <li>
      <a href="https://classroommagazines.scholastic.com/support/learnathome.html">Scholastic Learn at Home</a>
    </li>

    <li>
      <a href="https://www.funbrain.com/">Funbrain</a>
    </li>

    <li>
      <a href="https://www.mathplayground.com/">Math Playground</a>
    </li>

    <li>
      <a href="https://www.splashlearn.com/">Splash Learn</a>
    </li>

    <li>
      <a href="http://www.mathgametime.com/">Math Game Time</a>
    </li>

    <li>
      <a href="https://www.discoverymindblown.com/">Discovery Mindblown</a>
    </li>

    <li>
      <a href="https://www.nasa.gov/kidsclub/index.html">NASA Kids Club</a>
    </li>

    <li>
      <a href="https://amazing-space.stsci.edu/">Amazing Space</a>
    </li>

    <li>
      <a href="https://www.brainpop.com/">Brain Pop </a>
    </li>

    <li>
      <a href="https://www.youtube.com/user/crashcourse">Crash Course</a>
    </li>

    <li>
      <a href="https://kids.nationalgeographic.com/">Nat Geo Kids</a>
    </li>

    <li>
      <a href="https://jr.brainpop.com/">Brain Pop, Jr.</a>
    </li>

    <li>
      <a href="https://www.duolingo.com/">Duolingo</a>
    </li>

    <li>
      <a href="http://www.hellokids.com/">Hello Kids</a>
    </li>
  </ul>
</div>
{% endblock %}
