{% extends "main.jinja2" %}

{% block content %}
<h2>Entertainment</h2>
<p class="subtitle">Last updated: {{ doc.info.last_modified }}</p>
<p>
  Description here!
</p>

<div class="links">
  <ul>
    <li>
      <a href="https://www.metopera.org/">Met Opera Free Streaming</a>
    </li>

    <li>
      <a href="https://twitter.com/hashtag/TogetherAtHome?src=hashtag_click">Twitter Stream #TogetherAtHome</a>
    </li>

    <li>
      <a
        href="https://www.facebook.com/cincinnatizoo/?hc_ref=ARQjRBnPBT_wIr0354SarSKFUvxC88Zoo8L8KXsWVgFu0olMEWPReNx_dORe-_-mGEM&fref=nf&__xts__[0]=68.ARC2gsPMGk1P6iHWaGcYhdgnc2vjlD-ZLuyfQntXZgmWsDbVASlnSV079SOHleysktX1ahsij7bWKEqAKof1YQ8UVtpLYXCuVzD3tuz0fmTxBnrUcZHsxNE3rRVw4uKQwmEzesrY81qUHFjklZnPTSH2xMIN30HvIucP1HOIwuXPRex2HfJQdiF2qJssHRtf-qN0pEOtB5bwwWnxeS4XAr49nauUQ17ybDxDhSVkwyQasByot0ImoQpg-ziWzCZlSX8fzkKa-Ki2Rr-X_lR9k5BYpsZ9f8B27-XpI3vE2pdk5bDObmSFD56ETCzMloIA3BnYWKT1dVLHMSR5zA&__tn__=kC-R">Cincinnati
        Zoo Home Safari</a>
    </li>

    <li>
      <a href="https://callowaycountylibrary.org/">CCPL Digital Downloads</a>
    </li>
  </ul>
</div>
{% endblock %}
