---
title: Entertainment
description: We're all stuck inside. But that doesn't mean we have to be bored.
---
{% extends "main.jinja2" %}

{% block content %}
<h2>{{ doc.info.title }}</h2>
<p class="subtitle">Last updated: {{ doc.info.last_modified }}</p>
<p>
  {{ doc.info.description }}
</p>

<div class="emoji-links">
  <h2>Scheduled Live Streams</h2>
  <ul>    
    <li>
      😸 <a href="https://www.instagram.com/petethecatofficial/?hl=en">Pete the Cat Live Storytime</a> - 
      Live storytime at 11:00 am CST
    </li>
    
    <li>
      🐷 <a href="https://ohiopork.org/vft/">Live Tour of Pork Farm</a> - 
      Ohio Pork is having a virtual field trip Thursday, March 19th at 12:00 pm CST
    </li>
    
    <li>
      ✏️ <a href="https://www.youtube.com/channel/UCeJesXuEK5ERsyh-0DvM4PQ">Lunch Doodles with Mo Willems</a> - 
      New episodes posted on weekdays at 12:00 pm CST
    </li>
    
    <li>
      🐍 <a
        href="https://www.facebook.com/cincinnatizoo/?hc_ref=ARQjRBnPBT_wIr0354SarSKFUvxC88Zoo8L8KXsWVgFu0olMEWPReNx_dORe-_-mGEM&fref=nf&__xts__[0]=68.ARC2gsPMGk1P6iHWaGcYhdgnc2vjlD-ZLuyfQntXZgmWsDbVASlnSV079SOHleysktX1ahsij7bWKEqAKof1YQ8UVtpLYXCuVzD3tuz0fmTxBnrUcZHsxNE3rRVw4uKQwmEzesrY81qUHFjklZnPTSH2xMIN30HvIucP1HOIwuXPRex2HfJQdiF2qJssHRtf-qN0pEOtB5bwwWnxeS4XAr49nauUQ17ybDxDhSVkwyQasByot0ImoQpg-ziWzCZlSX8fzkKa-Ki2Rr-X_lR9k5BYpsZ9f8B27-XpI3vE2pdk5bDObmSFD56ETCzMloIA3BnYWKT1dVLHMSR5zA&__tn__=kC-R">Cincinnati
        Zoo Home Safari</a> - 
        The Home Safari happens at 2:00 pm CST daily
    </li>
    
    <li>
      🎨 <a href="https://www.facebook.com/ooooohsoniceartclass/?modal=admin_todo_tour">Art Class with Ann Flowers Gosser</a> -
      Ann hosts a live art class at 3:00 pm CST
    </li>
  
    <li>
      🎼 <a href="https://www.metopera.org/">Met Opera Free Streaming</a> - 
      Due to Broadway being closed, the Met Opera has a live stream at 6:30 pm CST each night
    </li>
  </ul>
  
  <h2>Miscellaneous Entertainment</h2>
  <ul>
    <li>
      🎵 <a href="https://twitter.com/hashtag/TogetherAtHome?src=hashtag_click">Twitter Stream #TogetherAtHome</a> - 
      Live stream concerts on Twitter
    </li>
    
    <li>
    🐧 <a href="https://twitter.com/shedd_aquarium?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Shedd Aquarium</a> -
    Shedd Aquarium in Chicago takes their penguins on a zoo tour after hours
    </li>
   
    <li>
      😻 <a href="https://www.youtube.com/watch?v=4MeEoa0Ep0I">Kitten Academy Live Stream</a> - 
      A live-stream of kittens playing
    </li>
    
    <li>
      🖥️ <a href="https://www.netflixparty.com/">Netflix Party</a> - 
      Watch Netflix with a group of friends
    </li>
    
    <li>
      📞 <a href="https://quarantinechat.com/">Quarantine Chat</a> - 
      Talk on the phone with someone else stuck at home
    </li>
  </ul>
</div>
{% endblock %}
