{% extends "main.jinja2" %}

{% block content %}
<h2>Where to get food</h2>
<p class="subtitle">Last updated: {{ doc.info.last_modified }}</p>
<p>
  This is a page of links where people might find food during these tough times.
  If you know of any other places to include, please let us know.
</p>

<div class="emoji-links">
  <h2>📦 Local Food Supply Boxes</h2>
  <ul>
    <li><strong>St. John's Episcopal Church</strong> - 1620 Main Street</li>
    <li><strong>Westside Baptist Church</strong> - 207 Roberson Road</li>
    <li><strong>Lynn Grove United Methodist Church</strong> - 37 Browns Grove Road</li>
    <li><strong>Southwest Elementary School</strong> - 3426 Wiswell Road</li>
    <li><strong>North Elementary School</strong> - 2928 Brinn Road</li>
    <li><strong>Coles Campground United Methodist Church</strong> - 1449 Coles Campground Road</li>
    <li><strong>Murray Calloway County Park</strong> - 900 Payne Street</li>
    <li><strong>Salon 94</strong> - 2511 KY HWY 94 East</li>
    <li><strong>Murray Middle School</strong> - 801 Main Street, Boys' Entrance</li>
    <li><strong>Murray Elementary School</strong> - 111 N Broach Street</li>
    <li><strong>Behind City Hall & First Christian Church</strong> - 500 Main Street</li>
  </ul>
  
  <h2>🥪 Breakfast & Lunch for Kids 18 or Younger</h2>
  <p>MISD is providing breakfast and lunch for any child age 18 or younger that lives in 
  Calloway County (enrollment in a Murray city school is not required). To sign up at anytime, 
  call the MISD Board Office at 270-753-4363. Meals may be picked up at the Middle School
  or delivered. NOTE: meals will not be provided the week of spring break, April 6-10.
  </p>
  
  <h2>👵🏻 Senior (ages 60+) or High-Risk Customer Shopping Hours</h2>
  <ul>
    <li><strong>Murray Walmart</strong> - Tuesday, 6:00 - 7:00 am</li>
    <li><strong>Food Giant</strong> - Daily, 6:00 - 7:00 am</li>
    <li><strong>Murray Kroger</strong> - Monday, Tuesday, Wednesday, & Thursday, 7:00 - 8:00 am</li>
  </ul>
</div>

{% endblock %}
