{% extends "main.jinja2" %}

{% block content %}
<h2>Where to get food</h2>
<p class="subtitle">{{ doc.info }}</p>
<p>
  This is a page of links where people might find food during these tough times.
  If you know of any other places to include, please let us know.
</p>

{% endblock %}
