---
title: Home
---

{% extends "main.jinja2" %}

{% block meta %}
  <meta name="twitter:card" content="summary">
  <meta name="og:url" content="https://covid19.hellomurray.com">
  <meta name="og:title" content="Murray/COVID-19 Resources">
  <meta name="og:description" content="Resources related to Murray, KY and the COVID-19 pandemic.">
{% endblock %}

{% block content %}
<main>
  <div class="about">
    <p>
      A community-developed site with all the links and things we can find related to COVID-19 for Murray, for the state of Kentucky, and beyond.
      It's just informational—consult the <a href="https://kycovid19.ky.gov">Kentucky COVID-19</a> for news and information from the state.
    </p>
    <p><strong>☎️ COVID-19 Hotline (800) 722-5725</strong></p>
  </div>
  
  <div class="links">
    <h2>Stay Connected</h2>
    <ul>
      <li> 👋 "The Murray Pause" - Every night at 7:00 pm, pause what you're doing, step outside, and wave to your neighbors! A great way to encourage and check on one another while we are socially distancing.
      </li>
      <li>
        🥳 <a href="/entertainment/">Entertainment & Live Streams</a> - 
        We're all stuck inside. But that doesn't mean we have to be bored.
      </li>

      <li>
        🧠 <a href="/education/">Education Resources</a> - 
        We have a bunch of great links that kids can use to learn while they're home.
      </li>
    </ul>
    
    <h2>News</h2>
    <ul>
      <li>
        🦅 <a href="https://kycovid19.ky.gov">Kentucky COVID-19 Site</a>
      </li>
      
      <li>
        🖋️ <a href="https://kentucky.gov/Pages/Activity-stream.aspx?n=GovernorBeshear&prId=93">Actions Gov. Beshear is
          Taking</a>
      </li>
      
      <li>
        📻 <a href="https://www.wkms.org/term/coronavirus#stream/0">WKMS Coronavirus Coverage</a>
      </li>
    
      <li>
        📺 <a href="https://www.wpsdlocal6.com/news/coronavirus_news/">WPSD Coronavirus Coverage</a>
      </li>
      
      <li>
        📰 <a href="https://www.washingtonpost.com/world/2020/03/15/coronavirus-latest-news/">Washington Post Live Updates</a>
      </li>
    </ul>

    <h2>Local Resources</h2>
    <ul>
      <li>
        ⛪ <a href="https://www.mymurray.com/worship-online/">Online Church Services</a>
      </li>

      <li>
        🌮 <a href="https://docs.google.com/spreadsheets/d/1-Q3INXf3ZLBMTJd9n22-kLR_jPMh1i6V12Jo31m5Zp0/htmlview">Murray
          Area Restaurant Availability</a>
      </li>

      <li>
        🥪 <a
          href="https://www.murrayledger.com/news/local/calloway-food-program-launches-with-misd-set-for-wednesday/article_4b73ece4-67e9-11ea-9fbc-87dea7bc6471.html">Calloway
          Food Program for Kids</a>
      </li>
    </ul>

    <h2>Helpful Links</h2>
    <ul>
      <li>
        🌎 <a href="https://coronavirus.1point3acres.com/en">COVID-19 in US and Canada</a> -
        Tracker map down to county level
      </li>
    
      <li>
        🗺️ <a href="https://infection2020.com/">Infection 2020 Tracker</a> - 
        Tracker map
      </li>
    
      <li>
        🚫 <a href="https://threadreaderapp.com/thread/1238879814863519744.html">Why Should We Self-Isolate Now?</a>
      </li>
    
      <li>
        🧫 <a href="https://www.flattenthecurve.com/">Flatten the Curve</a>
      </li>
    
      <li>
        🩺 <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fabout%2Fsymptoms.html">CDC List of Symptoms</a>
      </li>
    
      <li>
        🧻 <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html">What to Do if You Become Sick</a>
      </li>
    
      <li>
        😷 <a href="https://www.cdc.gov/coronavirus/2019-ncov/prepare/prevention.html">How to Protect Yourself</a>
      </li>
    </ul>
  </div>
</main>
{% endblock %}
