---
title: Home
---

{% extends "main.jinja2" %}

{% block content %}

<header>
  <h1>Murray, KY / CORVID-19 Resources</h1>
</header>

<div class="about">
  <p>
    A community-developed site with all the links and things we can find related to COVID-9 for Murray, for the state of Kentucky, and beyond.
    It's just informational—consult the <a href="https://kycovid19.ky.gov">Kentucky COVID-19</a> for news and information from the state.
  </p>
</div>

<div class="links">
  <h2>Helpful Links</h2>
  <ul>
    {% for link in context.data.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
        <span class="link-category">{{ link.category|title }}</span>
      </li>
    {% endfor %}
  </ul>

</div>

<div class="extra">
  <p>
    Again, this site is informational. Consult <a href="https://kycovid19.ky.gov">Kentucky COVID-19</a> for official news.
    <br>
    <a href="https://hellomurray.com">Hello Murray</a> /
    <a href="https://github.com/smizell/covid19">Contribute</a>
  </p>
</div>


{% endblock %}
