<html>
  <head>
    <meta name=generator content="site.py (made it up)">
    <meta charset=utf-8>
    {% if doc.info.description %}
    <meta name="description" content="{{ doc.info.description }}">
    {% else %}
    <meta name="description" content="A community-developed site with all the links and things we can find related to COVID-9 for Murray, for the state of Kentucky, and beyond.">
    {% endif %}
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <title>{% block title %}{% if doc.info.title %}{{ doc.info.title }} - {% endif %}Murray/COVID-19{% endblock %}</title>
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">

    {% block meta %}{% endblock %}

    <link rel=stylesheet href=/static/styles.css>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  </head>
  <body>
    <div class="content">
      <header>
        <h1>Murray, KY / COVID-19 Resources</h1>
      </header>
      <nav>
        <a href="/" rel="home">Home</a> /
        <a href="/share/">Submit Resource</a>
      </nav>
      {% block content %}{% endblock %}
      <footer>
        <p>
          Again, this site is informational. Consult <a href="https://kycovid19.ky.gov">Kentucky COVID-19</a> for official news.
          <br>
          <a href="https://hellomurray.com">Hello Murray</a> /
          <a href="https://github.com/smizell/covid19">Contribute</a>
        </p>
      </footer>
    </div>


  </body>
</html>
