<html>
  <head>
    <meta name=generator content="Custom (Yikes!)">
    <meta charset=utf-8>
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <title>{% block title %}Murray/CORVID-19{% endblock %}</title>
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">

    {# block twitter %}
    <meta name=twitter:card content="summary">
    <meta name=og:url content="">
    <meta name=og:title content="Murray/CORVID-19">
    <meta name=og:description content="Resources related to Murray, KY and the COVID-19 pandemic.">
    {% endblock #}

    <link rel=stylesheet href=/static/styles.css>
  </head>
  <body>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
